package components

templ Card(header string, body string) {
	<div
		class="flex flex-col justify-between p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
	>
		<h5 class="mb-5 text-2xl font-bold tracking-tight text-center text-gray-900 dark:text-white">{ header }</h5>
		<p class="font-bold text-center text-gray-700 dark:text-gray-400 text-7xl">{ body }</p>
	</div>
}
